.bottom-right {
    position:absolute;
    right:0px;
    bottom:0px;
}

.wrapper {
    text-align: center;
}

.message-list {
	padding: 0px 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
}

.monospaced {
	font-family: Courier New;
}

.greyborder {
	border-style: solid; 
	border-width: 1px; 
	border-color: #eeeeee;
}

.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #CCCCCC;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #F2C61F;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #D95C5C;
}
.text.purple {
  color: #564F8A;
}
.text.pink {
  color: #D9499A;
}
.text.orange {
  color: #E07B53;
}
.text.green {
  color: #5BBD72;
}
.text.blue {
  color: #3B83C0;
}